html,
body {
  background-color: #849d8f;
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

h1 {
  color: #ffffff;
  font-size: 35px;
  line-height: 41px;

}

p {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: 400;
  margin: 0 0;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*----------WEBKIT BUG--------*/
button:focus, input:focus  {
  outline: none;
}


.btn {
  display: block;
  padding: 10px 20px;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  position: absolute;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Roboto", "Arial", sans-serif;
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  border-style: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0px 1px 2px rgba(172, 16, 0, 1);
}
.hide {
  display: none;
}
.wrapper {
  background-repeat: no-repeat;
  background-position: top center;
  transition:
      background-image 0.5s ease,
      background-color 0.5s ease;
}
.wrapper::before,
.wrapper::after {
	content: "";
	visibility: hidden;
}

.wrapper::before,
.wrapper::after {
	background-image: url("../img/slider-2.png");
}

.wrapper::after {
	background-image: url("../img/slider-3.png");
}

.header-container {
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 20px;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

/* ------------------------------------------*/
/* ----------------ГЛАВНОЕ МЕНЮ----------------*/

.page-logo {
  width: 154px;
  height: 64px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 0px;
  float: left;
}

.main-navigation {
  float: left;
  width: 700px;
}

.main-menu {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
  font-size: 0;
}

.main-menu-item {
  font-weight: bold;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  position: relative;
}

.main-menu-item > a {
  display: block;
  margin: 20px 0px;
  padding: 9px 15px;
  text-decoration: none;
  color: #ffffff;
}

.main-menu-item > a::after {
    content: "";
    position: absolute;
    height: 1px;
    left: 13px;
    right: 13px;
    bottom: 25px;
    background-color: rgba(255,255,255,0.4);
}

.main-menu-item:hover > a {
  background-color: #ffffff;
  color: #323232;
  border-radius: 25px;
}

.main-menu-item:active > a {
  box-shadow:
  inset 0 1px 2px 1px #696969;
}


/*-------------------------------------------------------*/
/*----------ВЫБРАННЫЙ ПУНКТ ГЛАВНОГО МЕНЮ----------------*/
.main-menu-item .current {
  background-color: #d07058;
  color: #ffffff;
  border-radius: 25px;
}

.main-menu-item:hover .current {
  background-color: #d07058;
  color: #ffffff;
}
.current::after {
  display: none;
}
/*----------------------------------------------------*/
/*-----------------ВЫПАДАЮЩЕЕ МЕНЮ--------------------*/
/*----------------------------------------------------*/
.submenu {
  background-color: white;
  margin: 0 0;
  padding: 0 0;
  list-style: none;
  border-radius: 5px;
  position: absolute;
  top: 60px;
  left: -5px;
  z-index: 10;
  display: none;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
  overflow: hidden;
}

.submenu-item {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  width: 145px;
  vertical-align: top;
}

.submenu-item > a {
  text-decoration: none;
  font-weight: 400;
  display: block;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 10px 20px;
  color: #323232;
}

.submenu-item:hover > a {
  background-color: #fbded7;
}
.submenu-item:active > a {
  background-color: #f6b5a5;
}
.main-menu-item:first-child:hover .submenu {
  display: block;
}
.submenu .new-arrivals {
  font-weight: 700;
  position: relative;
  display: block;
}

.submenu .new-arrivals::after {
    content: "";
    position: absolute;
    height: 2px;
    left: 10px;
    right: 10px;
    bottom: 0px;
    background-color: #d1d0ce;
}


/* ---------------------------------------------*/
/* ---------МЕНЮ ПОЛЬЗОВАТЕЛЯ СПРАВА------------*/
.user-block {
  float: right;
  min-width: 260px;
  padding-top: 23px;
  margin-right: 27px;
}

.user-buttons {
  text-align: right;
  margin: 15px 0;
}
.button-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 13px;

}

.btn-head {
  padding: 16px 16px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  text-align: center;
  position: relative;
  background-color: rgba(255,255,255,0.2);
}

.search {
  border-radius: 50%;
  padding: 0 16px;
  padding-top: 6px;
  padding-bottom: 8px;
}

.search::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 7px;
  width: 20px;
  height: 20px;
  background: transparent url("../img/Loupe.svg") no-repeat;
}

.header-search-block {
  position: absolute;
  top: 30px;
  right: 0px;
  display: none;
  border-radius: 5px;
  background: #f8f7f4;
  z-index: 10;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
}

.search-block-form {
  display: block;
  width: 312px;
  padding: 20px 15px;
  font-size: 14px;
  position: relative;
}

.header-search-block input[type="text"] {
  width:100%;
  border: none;
  box-shadow: 0 0 0 1px #d3d3d2;
  border-radius: 5px;
  color: #999999;
  font-weight: 400;
  line-height: 24px;
  padding: 10px 15px;
  box-sizing: border-box;
}

.btn-head:hover {
  color: #323232;
  background-color: #ffffff;
}

.search:hover::after {
  background: transparent url("../img/Loupe-black.svg") no-repeat;
}

/*ОТОБРАЖЕНИЕ ФОРМЫ ПОИСКА*/
.button-container:hover .header-search-block  {
  display: block;
}

.login, .cart {
  display: inline;
  background-color: rgba(255,255,255,0.2);
  padding: 8px 16px;
  border-radius: 16px;
  padding-left: 44px;
  text-align: center;
  margin-left: 10px;
}

.header-enter-block {
  position: absolute;
  top: 30px;
  right: 0px;
  display: none;
  border-radius: 5px;
  background: #f8f7f4;
  z-index: 10;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
}

.enter-block-form {
  display: block;
  width: 240px;
  height: 180px;
  margin: 20px 15px;
  font-size: 14px;
  position: relative;
}

.header-enter-block input[type="text"], .header-enter-block input[type="password"]  {
  width:100%;
  border: none;
  box-shadow: 0 0 0 1px #d3d3d2;
  border-radius: 5px;
  color: #999999;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
  padding: 10px 15px;
  box-sizing: border-box;
}

.enter-button {
  padding: 12px 25px;
  width: 100px;
  right: auto;
}

.help-links > a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: none;
}

.help-links {
  width: 120px;
  display: inline-block;
  vertical-align: middle;
}
.help-links> a:hover{
  color: #e84d37;
}

/*ОТОБРАЖЕНИЕ ФОРМЫ ЛОГИНА*/
.button-container:hover .header-enter-block  {
  display: block;
}

.login::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 15px;
  width: 21px;
  height: 19px;
  background: transparent url("../img/enter-pic.svg") no-repeat;
}

.login:hover::before {
  background: transparent url("../img/enter-black.svg") no-repeat;
}

.cart::before {
  content:"";
  position: absolute;
  top: 8px;
  left: 16px;
  width: 21px;
  height: 20px;
  background: transparent url("../img/cart-pic.svg") no-repeat;
}

.cart:hover::before {
  background: transparent url("../img/cart-black.svg") no-repeat;
}

.open-time {
  float: right;
  color: #ffffff;
  font-weight: bold;
  clear: both;
  text-align: right;
}

.open-hours {
  font-size: 14px;
  line-height: 16px;
  padding: 0 0;
  margin: 0px 0;
}

.phone-header {
  font-size: 22px;
  line-height: 24px;
  padding-top: 6px;
  margin: 0 0;
}

/* ---------------------------------------------*/
/* ---------АКТИВНАЯ КОРЗИНА--------------------*/
/* ---------------------------------------------*/
.active-cart {
  background-color: #ffffff;
  color: #323232;
}

.active-cart::before {
  background: transparent url("../img/full-cart.png") no-repeat;
}

.active-cart:hover::before {
  background: transparent url("../img/full-cart.png") no-repeat;
}

/*-----------ТОВАРЫ В КОРЗИНЕ------------*/
.form-basket {
	position: absolute;
	top: 100%;
	right: -1px;
	z-index: 10;
	display: none;
	min-width: 520px;
	padding: 20px 15px;
	border-radius: 5px;
	font-size: 13px;
	font-weight: 400;
	color: #333333;
	background: #f8f7f4;
	box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}

/*ОТОБРАЖЕНИЕ СОДЕРЖИМОГО КОРЗИНЫ*/
.button-container:hover .form-basket {
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.form-table td {
	padding-bottom: 15px;
}
.form-table td:nth-of-type(1) {
	width: 12px;
	padding-right: 14px;
}
.form-table td:nth-of-type(2) {
	width: 33px;
	padding-right: 14px;
}
.form-table td:nth-of-type(3) {
	width: 245px;
}
.form-table td:nth-of-type(4) {
	width: 122px;
}
.form-table td:nth-of-type(5) {
	width: 68px;
}

.btn-delete a {
	display: block;
	width: 15px;
	height: 15px;
	padding-top: 5px;
	position: relative;
}
.close-basket {
	position: relative;
	top: 6px;
	right: 0px;
	width: 12px;
	height: 12px;
	font-size: 0;
	border: 0;
	outline: 0;
	cursor: pointer;
}
.close-basket::before,
.close-basket::after {
	content: "";
	position: absolute;
  bottom: 15px;
  left: 0px;
	width: 14px;
	height: 1px;
	background-color: #000000;
	border-radius: 1px;
}
.close-basket::before {
	  transform: rotate(45deg);
}
.close-basket::after {
	  transform: rotate(-45deg);
}
.total-trice {
	margin-top: 10px;
	margin-right: 11px;
	margin-bottom: 12px;
	padding-top: 10px;
	font-size: 15px;
	font-weight: 900;
	border-top: 1px solid #7f7f7f;
	text-align: right;
}
.order .btn-order {
  display: inline-block;
  vertical-align: top;
	position: relative;
	padding: 12px 15px;
	font-size: 18px;
	line-height: 24px;
  width: 145px;

}
.order{
	text-align: right;
}

/* ------------------------------------------*/
/* ------------CЛАЙДЕР----------------------*/
/* ---------------------------------------------*/
.slider-block {
  position: relative;
}
.slider {
	position: relative;
	padding-top: 274px;
	text-align: center;
	color: #ffffff;
}
.slide {
	display: none;
}
#slide-11 {
  display: block;
}
.text-slide {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 30px;
	line-height: 60px;
	font-weight: 800;
	font-size: 60px;
}

.slider-button {
  padding: 14px 40px;
  font-size: 32px;
  line-height: 44px;
  padding: 16px 40px;
  border-radius: 50px;
  margin-top: 60px;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 200px;

}

.slider-controls {
	position: absolute;
	bottom: 19px;
	left: 3px;
	z-index: 20;
	font-size: 0;
}
.slider-controls label {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls label:hover {
	background-color: rgba(255,255,255,0.4);
}

#green-1:checked ~ .wrapper #slide-1,
#violet-2:checked ~ .wrapper #slide-2,
#brown-3:checked ~ .wrapper #slide-3 {
	display: block;
}
#green-1:checked ~ .wrapper {
	background-color: #849d8f;
	background-image: url("../img/slider-1.png");
}
#violet-2:checked ~ .wrapper {
	background-color: #8996a6;
	background-image: url("../img/slider-2.png");
}
#brown-3:checked ~ .wrapper {
	background-color: #9d8b84;
	background-image: url("../img/slider-3.png");
}
#green-1:checked ~ .wrapper label[for="green-1"],
#violet-2:checked ~ .wrapper label[for="violet-2"],
#brown-3:checked ~ .wrapper label[for="brown-3"] {
	background-color: #ffffff;
}
.main-slide {
	position: relative;
}

/* -------------------------------------------*/
/* --------------ХЛЕБНЫЕ КРОШКИ---------------*/
/* ---------------------------------------------*/
.breadcrumbs {
   margin-top: -35px;
 }

.breadcrumbs ul {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
  font-size: 0;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
  position: relative;
}

.breadcrumbs a {
  display: block;
  padding-right:20px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.breadcrumbs a:hover {
  color: #ffbc9e;
}

.breadcrumbs a::after {
  content: "";
  position: absolute;
  height: 1px;
  left: 1px;
  right: 21px;
  bottom: 0px;
  background-color: rgba(255,255,255,0.4);
  }

.breadcrumbs li:hover a::after {
  background-color: #ffbc9e;
}

.breadcrumbs li:not(:last-child)::before {
	content: ">>";
	position: absolute;
	top: 1px;
	right: 3px;
	transform: scale(0.5, 1);
  color: #ffffff;
}

/*----------ТЕКУЩИЙ ПУНКТ МЕНЮ------------*/

.breadcrumbs .current {
  padding-right:20px;
  color: #ffffff;
}

.breadcrumbs .current:hover {
  color: #ffbc9e;
}

h1 {
  margin-top: 0px;
}

/* -------------------------------------------*/
/* --------------------ФИЛЬТР-----------------*/
/* ---------------------------------------------*/
.filters {
	margin-bottom: 40px;
}
.filters h1 {
	font-size: 35px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	margin-bottom: 33px;
}

.filters p {
	font-size: 14px;
	font-weight: 500;
	margin: 0;
	padding: 0;
	margin-bottom: 8px;
	margin-left: 15px;
	line-height: 1em;
  color: #ffffff;
}

.block-sorting-1 {
	margin-bottom: 16px;
}

.sorting {
	float: left;
	font-size: 14px;
	width: 194px;
	margin-right: 14px;
}

.quicksort {
	position: relative;
	width: 194px;
	overflow: hidden;
	border-radius: 18px;
	font-size: 16px;
	font-weight: 500;
}
.quicksort-options {
	width: 130%;
	height: 36px;
	padding: 7px 15px;
	color: #ffffff;
	border-radius: 18px;
	text-indent: 0.01px;
	text-overflow: '';
	background-color: rgba(248,247,244,0.2);
	border: none;
	appearance: none;

}
.quicksort-options:hover {
	color: #343434;
	background: #ffffff;
}
.quicksort option {
	color: #343434;
	background-color: rgb(255,255,255);
	border: none;
}

.quicksort::after {
	content: '';
	display: block;
	border: 4px solid transparent;
	border-top: 5px solid #ffffff;
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -2.5px;
}
.quicksort:hover::after {
	content: '';
	display: block;
	border: 4px solid transparent;
	border-top: 5px solid #333333;
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -2.5px;
}

/* -----------------------------------------*/
/* ---------ФИЛЬТР ПО ЦЕНЕ-----------------*/

.range-filter {
	float: left;
	width: 218px;
	margin-right: 14px;
}
.range-controls {
	position: relative;
	margin-bottom: 0;
	padding: 16px;

	border-radius: 20px;
	background: rgba(255,255,255,0.2);
}
.range-controls .scale {
	height: 4px;
	background: rgba(255,255,255,0.5);
}
.range-controls .bar {
	height: 4px;
	background: #ffffff;
	margin-left: 20%;
	width: 50%;
}
.range-controls .toggle {
	position: absolute;
	top: 8px;
	left: 0px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ffffff;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
	cursor: pointer;
}
.range-controls .min-toggle {
	left: 35px;
}
.range-controls .max-toggle {
	left: 132px;
}
.range-controls .toggle:hover {
	box-shadow: 0 0 0 1px #ffffff,
				0 2px 2px 0 rgba(0,0,0,0.1);
}

/* -----------------------------------------*/
/* ---------ФИЛЬТР ПО ЖИРНОСТИ-----------------*/

.container-fatness {
	float: left;
	width: 417px;
	margin: 0;
	padding: 0;
}

.block-fatness input[type="radio"] {
	display: none;
}
.block-fatness {
	background-color: rgba(255,255,255,0.2);
	border-radius: 18px;
	padding: 7px 15px;
}
.container-fatness label {
	font-size: 16px;
	font-weight: 500;
	padding-right: 18px;
	padding-left: 29px;
	position: relative;
  color: #ffffff;
}
.container-fatness label:nth-child(8n) {
	padding-right: 0;
}
.block-fatness label::before {
	content: "";
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
	border: 1px solid #f8f7f4;
	border-radius: 50%;
}
.container-fatness input[type="radio"]:checked + label::after {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	width: 12px;
	height: 12px;
	background: #f8f7f4;
	border-radius: 50%;
}
.block-fatness label:hover::before {
	box-shadow: 0 0 0 1px #f8f7f4;

}
/* -------------------------------------------*/
/* --------------НАПОЛНИТЕЛИ-----------------*/
.container-filler {
	float: left;
	margin: 0;
	padding: 0;
	width: 702px;
}
.block-filler input[type="checkbox"] {
	display: none;
}
.block-filler {
	background-color: rgba(255,255,255,0.2);
	border-radius: 18px;
	padding: 7px 15px;
}

.container-filler label {
	font-size: 16px;
	font-weight: 500;
	padding-right: 20px;
	padding-left: 30px;
	position: relative;
  color: #ffffff;
}
.container-filler label:nth-child(10n) {
	padding-right: 0;
}
.block-filler label::before {
	content: "";
	display: block-inline;
	position: absolute;
	width: 20px;
	height: 20px;
	top: -1px;
	left: 0;
	border: 1px solid #f8f7f4;
	border-radius: 5px;
}
.block-filler label:hover::before {
	box-shadow: 0px 0px 0px 2px #f8f7f4;
	border-radius: 5px;
}

.container-filler input[type="checkbox"]:checked + label::after {
	content: "";
	position: absolute;
	top: 3px;
	left: 5px;
	width: 11px;
	height: 7px;
	border-left: 2px solid #f8f7f4;
	border-bottom: 2px solid #f8f7f4;
	transform: rotate(-45deg);
}

/* ------------------------------------------*/
/* -------------КНОПКА ФОРМЫ-----------------*/
.button {
	float: left;
	width: 144px;
	margin-top: 22px;
	margin-left: 14px;
	color: black;
}
.button .use-button {
	display: inline-block;
	padding: 7px 31px;
	font-weight: 500;
	font-size: 16px;
	vertical-align: top;
	color: #ffffff;
	text-decoration: none;
	text-shadow: none;
	border: none;
	background-color: rgba(251,252,251,0.2);
	border-radius: 18px;
	box-shadow: inset 0 0 0 2px #fbfcfb;
}
.button .use-button:hover {
	background-color: rgb(251,252,251);
	color: #363636;
}
.button .use-button:active {
	background-color: #eaeaea;
	color: #363636;
	box-shadow: inset 0 2px 2px 1px #696969;
}


/* -----------------------------------------*/
/* ----------Блок с акциями-----------------*/
.promos {
  margin-bottom: 35px;
}
.raspberries-promo {
  position: relative;
  float: left;
  width: 520px;
  height: 212px;
  background-image: url("../img/raspberry-background.jpg");
  border-radius: 16px;
  overflow: hidden;

  margin-right: 26px;
  padding-left: 20px;
  padding-top: 17px;
  padding-right: 20px;

  color: white;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.choco-promo {
  position: relative;
  float: right;
  width: 520px;
  height: 212px;
  background-image: url("../img/choco-background.jpg");
  border-radius: 16px;

  color: white;
  padding-left: 20px;
  padding-top: 17px;
  padding-right: 20px;

  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.promo-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.choco-promo p, .raspberries-promo p {
    color: #ffffff;
}
.promo-button {
  bottom: 23px;
  right: 17px;
}
/* --------------------------------*/
/* ----Блок с хитами мороженок----*/
.bestsellers {
  margin-bottom: 40px;
}

.product-item {
  display: inline-block;
  width: 23.5%;
  margin-right: 17px;
  vertical-align: top;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
}

.product-item:nth-child(4n) {
  margin-right: 0px;
}

.product-img-crop {
  overflow: hidden;
  border-radius: 50%;
  width: 263px;
  height: 263px;
  margin-bottom: 10px;
}

.product-item > a {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #ffffff;
  margin: 0 0;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  text-align: center;
}

.product-hit::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background: transparent url("../img/Hit-icon.png") no-repeat;
}

.price-block {
  position: absolute;
  top: 210px;
  left: 10px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.price {
  font-size: 45px;
  line-height: 45px;
  color: white;
  font-weight: bold;
}

.weight {
  font-size: 30px;
  line-height: 45px;
  color: white;
  font-weight: bold;
}

.product-img-crop::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -60px;
  background-color: rgba(255,255,255,0.3);
  display: none;
  border-radius: 5px;
}
.glance-look {
  content: "";
  right: 15px;
  left: 15px;
  bottom: -35px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 12px 12px;
  display: none;
}

.product-item:hover > a{
  border-bottom: none;
}
.product-item:hover .product-img-crop::before, .product-item:hover .glance-look{
  display: inline-block;
  z-index: 10;
  vertical-align: top;
}
/* ------------------------------------------*/
/* ----------------КАТАЛОГ-------------------*/
/* ------------------------------------------*/

.catalogue {
  margin-bottom: 50px;
}

/* ------------------------------------------*/
/* ----------------СТРАНИЦЫ-------------------*/
/* ------------------------------------------*/
.pagination-container {
	margin-top: 50px;
	padding-bottom: 30px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}
.pagination {
	float: right;
	min-width: 220px;
	padding: 0;
  white-space: nowrap;
}

.page {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  padding: 5px 5px;
	min-width: 20px;
	height:20px;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
}

.pagination .page:hover {
	background-color: rgba(248,247,244,0.2);
}
.pagination .next:hover, .pagination .prev:hover {
	background-color: transparent;
}

.pagination .prev {
	background: transparent url("../img/arrow-right.svg") no-repeat;
  background-position: 15px 9px;
  transform: rotate(-180deg);
}

.pagination .next {
	background-image: url("../img/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 10px 7px;
}

.pagination .active {
	background-color: #ffffff;
	color: #353535;
	pointer-events: none;
	user-select: none;
}

.disabled {
	opacity: 0.2;
}


/* -----------------------------------------------------*/
/* -------------------О КОМПАНИИ-----------------------*/
/* ----------------------------------------------------*/
.about-glacy {
  width: 1106px;
  background-image: url("../img/pattern.jpg");
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 27px;
  border-radius: 16px;
}

.about-glacy > h3 {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: bold;
  padding-bottom: 23px;
  margin: 0 0;
}

.features {
  display: inline-block;
  width: 485px;
  padding-left: 51px;
  margin-right: 18px;
  padding-bottom: 25px;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  vertical-align: top;
}
.features > p {
  margin: 0 0;
}

.features:nth-child(odd) {
  margin-right: 0;
}

.ice::before {
  content: "";
  background: transparent url("../img/Ice-icon.svg") no-repeat;
  display: block;
  position: absolute;
  top: -15px;
  left: 0px;
  width: 50px;
  height: 50px;
}

.cow::before {
  content: "";
  background: transparent url("../img/Cow-icon.svg") no-repeat;
  display: block;
  position: absolute;
  top: -15px;
  left: 0px;
  width: 50px;
  height: 50px;
}

.temp::before {
  content: "";
  background: transparent url("../img/Temp-icon.svg") no-repeat;
  display: block;
  position: absolute;
  top: -15px;
  left: 0px;
  width: 50px;
  height: 50px;
}

.leaf::before {
  content: "";
  background: transparent url("../img/Leaf-icon.svg") no-repeat;
  display: block;
  position: absolute;
  top: -15px;
  left: 0px;
  width: 50px;
  height: 50px;
}
/*--------------------------------------------------------*/
/*----------------КОНТЕНТНЫЕ БЛОКИ-----------------------*/
/*-------------------------------------------------------*/
.content {
  margin-bottom: 40px;
}

.blog {
  float: left;
  width: 540px;
  height: 194px;
  background-image: url("../img/News-back.jpg");
  margin-right: 26px;
  padding-top: 25px;
  padding-left: 20px;
  border-radius: 16px;
}

.blog-title {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  margin: 0 0;
}

.blog a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: bold;
}

.blog a:hover {
  color: #ed7c70;
}
.blog a:active {
  text-decoration: none;
}

.mailing-block {
  float: right;
  width: 560px;
  height: 220px;
  background-image: url("../img/email-back.jpg");
  border-radius: 16px;
  position: relative;
}

.content-field {
  background-color: #ffffff;
  border-radius: 16px;
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}
.content-field p {
  padding-bottom: 40px;
}

.email-field {
	background-color: #ffffff;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #999999;
	padding: 9px 0 9px 10px;
	width: 100%;
	margin-right: 10px;
	border: none;
	box-shadow: 0 0 0 1px #d3d3d2;
}
.email-block {
  margin-right: 160px;
}
.subscription {
	position: relative;
}

.email-field:hover {
	box-shadow: inset 0 0 0 2px #d3d3d2;
}
.email-field:focus {
	outline: none;
	box-shadow: inset 0 0 0 2px #8fbdec;
}

.email-label {
	display: block;
	position: absolute;
	transition: top 0.7s ease, opacity 0.7s ease;
	opacity: 0;
	color: #999;
	font-size: 16px;
	top: 11px;
	left: 11px;
	width: 100%;
}
.email-field:valid + .email-label {
	top: -20px;
	opacity: 0;
	font-size: 14px;
	color: #9a9a9a;
}
.email-field:not(:placeholder-shown) + .email-label {
	top: -20px;
	opacity: 0;
	font-size: 14px;
	color: #9a9a9a;
}
.email-field:focus + .email-label {
	top: -20px;
	opacity: 1;
	font-size: 11px;
	color: #8fbdec;
	font-weight: 400;
}

.subscription-button {
  right: 25px;
  bottom: 30px;
  border-style: none;
}

/*--------------------------------------------------------*/
/*----------------------БЛОК С КАРТОЙ--------------------*/
/*-------------------------------------------------------*/
.map {
  width: 1200px;
  height: 430px;
  background-image: url("../img/map.jpg");
  margin-left: -27px;
  position: relative;
}

iframe {
  width: 1200px;
  height: 430px;
}

.adress-container {
  position: absolute;
  top: 60px;
  right: 27px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  padding-top: 32px;
  padding-left: 25px;
  padding-right: 25px;
  width: 275px;
  height: 273px;
  float: right;
  background-color: white;
  border-radius: 16px;
}

.adress-container p {
  margin-bottom: 5px;
}

.feedback-button {
  display: block;
  position: relative;

}

.adress {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.phone-number {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}
.time {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}

/*---------------------------------------------------------*/
/*-------------------------ФУТЕР--------------------------*/
/*--------------------------------------------------------*/
.main-footer {
  height: 70px;
  width: 1146px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 26px;
}
/*-----------------------СОЦКНОПКИ--------------------------*/
.footer-social {
  float: left;
  margin-right: 220px;
  width: 200px;
  font-size: 0x;
}
.social-btn {
	display: inline-block;
	width: 32px;
	height: 32px;
	opacity: 0.5;
	margin-right: 17px;
	border-radius: 50%;
	vertical-align: middle;
	position: relative;
}

.social-btn:last-child {
  margin-right: 0px;
}

.social-btn-tw {
	background-image: url("../img/tw-social.svg");
	background-repeat:  no-repeat;
	opacity: 0.8;
	box-shadow: inset 0 0 0 3px rgba(255,255,255,0.5), 0 0 0 3px rgba(255,255,255,0.5);
}
.social-btn-inst {
	background-image: url("../img/ins-social.svg");
	background-repeat:  no-repeat;
	opacity: 0.8;
	box-shadow: inset 0 0 0 3px rgba(255,255,255,0.5), 0 0 0 3px rgba(255,255,255,0.5);
}
.social-btn-fb {
	background-image: url("../img/fb-social.svg");
	background-repeat:  no-repeat;
	opacity: 0.8;
	box-shadow: inset 0 0 0 3px rgba(255,255,255,0.5), 0 0 0 3px rgba(255,255,255,0.5);
}
.social-btn-vk {
	background-image: url("../img/vk-social.svg");
	background-repeat:  no-repeat;
	opacity: 0.8;
	box-shadow:
    inset 0 0 0 3px rgba(255,255,255,0.5),
    0 0 0 3px rgba(255,255,255,0.5);
}
.social-btn:hover {
	opacity: 0.98;
	box-shadow: inset
    0 0 0 4px rgba(255,255,255,0.71),
    0 0 0 4px rgba(255,255,255,0.71);
}
.social-btn:active {
	opacity: 0.8;
	box-shadow:
    inset 0 1px 1px 1px #9b9b9b,
		0 0 0 4px rgba(255,255,255,0.9);
}


/*-------------------------------------------------------*/
/*------------------ПОЛЕЗНЫЕ ССЫЛКИ----------------------*/
/*-------------------------------------------------------*/
.usefull-links {
    float: left;
    vertical-align: top;
    min-width: 350px;
}

.usefull-links .left-block {
  float: left;
}

.usefull-links .right-block {
  float: right;
}

.link {
  padding-left: 19px;
  margin-right: 10px;
}

.link a {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.link:hover a {
  color: #f0978d;
}

.link a::after {
    content: "";
    position: absolute;
    height: 1px;
    left: 1px;
    right: 1px;
    bottom: 0px;
    background-color: rgba(255,255,255,0.4);
}

.link:hover a::after {
    background-color: #f0978d;
}

.link:active a::after {
    display: none;
}

.heart {
  position: relative;
}

.heart::before {
  content: "";
  display: block;
  height: 15px;
  width: 18px;
  position: absolute;
  top: 5px;
  left: 0;
  background: transparent url("../img/heart-icon.svg") no-repeat;
}

/*-----------------------------------------------------------*/
/*-------------------------КОПИРАЙТ-------------------------*/
/*----------------------------------------------------------*/
.footer-copyright {
  float: right;
  min-width: 205px;
  margin-top: -20px;
}

.footer-copyright a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.footer-copyright:hover a {
  color: #f0978d;
}

.footer-copyright a::after {
    content: "";
    position: absolute;
    height: 1px;
    left: 1px;
    right: 1px;
    bottom: 0px;
    background-color: rgba(255,255,255,0.4);
}

.footer-copyright:hover a::after {
    background-color: #f0978d;
}

.footer-copyright p, .footer-copyright a {
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
}
.footer-copyright:active a::after {
    display: none;
}

/*---------------------------------------------------------*/
/*-------------------МОДАЛЬНОЕ ОКНО------------------------*/
/*---------------------------------------------------------*/
.modal-content {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 50;
	display: none;
	width: 478px;
	min-height: 405px;
	padding: 20px 25px;
	margin-top:-150px;
	margin-left:-235px;
	color: #343434;
	background: #f8f7f4;
	border-radius: 10px;
}
.modal-content-close {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 30px;
	height: 30px;
	font-size: 0;
	background: #f8f7f4;
	border: 0;
	outline: 0;
	cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after {
	content: "";
	position: absolute;
	top: 10px;
  right: 3px;
	width: 25px;
	height: 2px;
	background-color: #000000;
	border-radius: 1px;
}
.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
	transform: rotate(-45deg);
}
.modal-content h3 {
	margin: 0;
	margin-bottom: 20px;
	padding:0;
	font-size:24px;
	line-height:28px;
}
.feedback-form, .control {
	position: relative;
}

.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content textarea {
	width: 265px;
	margin: 0;
	margin-bottom: 20px;
	padding: 10px 15px;
	font-size: 16px;
	line-height: 24px;
	color: #656565;
	font-weight: 400;
	background-color: #ffffff;
	border: none;
	box-shadow: 0 0 0 1px #d3d3d2;
	outline: none;
	border-radius: 5px;
}
.modal-content input[type="text"]:hover,
.modal-content input[type="email"]:hover,
.modal-content textarea:hover {
	box-shadow: inset 0 0 0 2px #d3d3d2;
}

.modal-content input[type="email"]:focus,
.modal-content input[type="text"]:focus,
.modal-content textarea:focus {
	box-shadow: inset 0 0 0 2px #8fbdec;
}

.modal-content textarea {
	width: 426px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.modal-content input[type="email"] + label,
.modal-content input[type="text"] + label,
.modal-content textarea + label {
	display: block;
	position: absolute;
	top: -10px;
	left: 16px;
	transition:top .7s ease,opacity .7s ease;
	opacity: 0;
	font-size: 13px;
	font-weight: 400;
	color: #353535;
}
.modal-content input[type="email"]:valid + label,
.modal-content input[type="text"]:valid + label,
.modal-content textarea:valid + label {
	color: #8fbdec;
	font-size: 11px;
	font-weight: 400;
}
.modal-content input[type="email"]:focus + label,
.modal-content input[type="text"]:focus + label,
.modal-content textarea:focus + label {
	opacity:1;
	top:-17px;
	font-weight:400;
	color: #8fbdec;
}

.feedback-form .btn {
	border: none;
	padding: 13px 25px;
	font-size: 18px;
	line-height: 22px;
	width: 140px;
  right: 20px;
  bottom: -60px;
}
/*------------МОДАЛЬНОЕ ОКНО ЗАТЕМНЕНИЕ---------------------*/
.modal-shadow {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 40;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.modal-show {
	display: block;
}

.modal-overlay-show {
	display: block;
}

.modal-content-show {
	display:block;
}
