html,
body {
  background-color: #849d8f;
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

h1 {
  color: #ffffff;
  font-size: 35px;
  line-height: 41px;

}

p {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  margin: 0 0;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  display: block;
  padding: 10px 20px;
  background-color: #e94f38;
  position: absolute;
  bottom: 23px;
  right: 17px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Roboto", "Arial", sans-serif;
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.btn:hover {
  background-color: #f17c64;
}
.hide {
  display: none;
}
.wrapper {
  background-repeat: no-repeat;
  background-position: top center;
  transition:
      background-image 0.5s ease,
      background-color 0.5s ease;
}
.wrapper::before,
.wrapper::after {
	content: "";
	visibility: hidden;
}

.wrapper::before,
.wrapper::after {
	background-image: url("../img/slider-.png");
}

.wrapper::after {
	background-image: url("../img/slider-3.png");
}

.header-container {
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 20px;
  outline: 1px solid blue;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
  outline: 1px solid green;
}

/* -------------------------------*/
/* --------ГЛАВНОЕ МЕНЮ----------*/

.page-logo {
  width: 154px;
  height: 64px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 0px;
  float: left;
  outline: 1px solid green;
}

.main-navigation {
  float: left;
  width: 700px;
  outline: 1px solid green;
}

.main-menu {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
  font-size: 0;
}

.main-menu-item {
  font-weight: bold;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  position: relative;
}

.main-menu-item > a {
  display: block;
  margin: 20px 0px;
  padding: 9px 15px;
  text-decoration: none;
  color: #ffffff;
}

.main-menu-item a::after {
    content: "";
    position: absolute;
    height: 1px;
    left: 13px;
    right: 13px;
    bottom: 25px;
    background-color: rgba(255,255,255,0.4);
}

.main-menu-item:hover a {
  background-color: #ffffff;
  color: #323232;
  border-radius: 25px;
}

.submenu {
  background-color: white;
  margin: 0 0;
  padding: 0 0;
  list-style: none;
  border-radius: 5px;
  position: absolute;
  top: 60px;
  left: -5px;
  padding-bottom: 5px;
  z-index: 10px;
  display: none;
}

.submenu-item {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  width: 145px;
  vertical-align: top;
}

.submenu-item > a {
  text-decoration: none;
  font-weight: 400;
  display: block;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 10px 20px;
  color: #323232;
}
.main-menu-item:first-child:hover .submenu {
  display: block;
}

/*.submenu a:first-child {
  font-weight: bold; /*не работает*/
}

/* --------------------------------*/
/* -----МЕНЮ ПОЛЬЗОВАТЕЛЯ СПРАВА----*/
.user-block {
  float: right;
  min-width: 260px;
  outline: 1px solid blue;
  padding-top: 23px;
  margin-right: 27px;
}

.user-buttons {
  text-align: right;
  outline: 1px solid white;
}
.button-container {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  margin-top: 31px;
}

.btn-head {
  padding: 16px 16px;
  vertical-align: top;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-family: "Roboto", "Arial", sans-serif;
  text-align: center;
  position: relative;
  background-color: rgba(255,255,255,0.2);
}

.search {
  font-size: 0px;
  border-radius: 50%;
}

.search::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 7px;
  width: 20px;
  height: 20px;
  background: transparent url("../img/Loupe.svg") no-repeat;
}

.header-search-block {
  position: absolute;
  top: 27px;
  right: 0px;
  display: none;
  border-radius: 5px;
  background: #f8f7f4;
  z-index: 10;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
}

.search-block-form {
  display: block;
  width: 312px;
  padding: 20px 15px;
  font-size: 14px;
  position: relative;
}

.header-search-block input[type="text"] {
  width:100%;
  border: none;
  box-shadow: 0 0 0 1px #d3d3d2;
  border-radius: 5px;
  color: #999999;
  font-weight: 400;
  line-height: 24px;
  padding: 10px 15px;
  box-sizing: border-box;
}

.btn-head:hover {
  color: #323232;
  background-color: #ffffff;
}

.search:hover::after {
  background: transparent url("../img/Loupe-black.svg") no-repeat;
}
.button-container:hover .header-search-block  {
  display: block;
}

.login, .cart {
  display: inline;
  background-color: rgba(255,255,255,0.2);
  padding: 8px 16px;
  border-radius: 16px;
  padding-left: 44px;
  text-align: center;
  margin-left: 10px;
}

.header-enter-block {
  position: absolute;
  top: 27px;
  right: 0px;
  display: none;
  border-radius: 5px;
  background: #f8f7f4;
  z-index: 10;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
}

.enter-block-form {
  display: block;
  width: 240px;
  height: 196px;
  margin: 20px 15px;
  font-size: 14px;
  position: relative;
}

.header-enter-block input[type="text"], .header-enter-block input[type="password"]  {
  width:100%;
  border: none;
  box-shadow: 0 0 0 1px #d3d3d2;
  border-radius: 5px;
  color: #999999;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
  padding: 10px 15px;
  box-sizing: border-box;
}

.enter-button {
  width: 100px;
  right: auto;
}

.help-links > a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: none;
}

.help-links {
  width: 120px;
  display: inline-block;
  vertical-align: middle;
}
.help-links> a:hover{
  color: #e84d37;
}
.button-container:hover .header-enter-block  {
  display: block;
}

.login::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 15px;
  width: 21px;
  height: 19px;
  background: transparent url("../img/enter-pic.svg") no-repeat;
}

.login:hover::after {
  background: transparent url("../img/enter-black.svg") no-repeat;
}

.cart::after {
  content:"";
  position: absolute;
  top: 8px;
  left: 16px;
  width: 21px;
  height: 20px;
  background: transparent url("../img/cart-pic.svg") no-repeat;
}

.cart:hover::after {
  background: transparent url("../img/cart-black.svg") no-repeat;
}


.open-time {
  float: right;
  color: #ffffff;
  font-weight: bold;
  clear: both;
  text-align: right;
}

.open-hours {
  font-size: 14px;
  line-height: 16px;
  padding: 0 0;
  margin: 0px 0;
}

.phone-header {
  font-size: 22px;
  line-height: 24px;
  padding-top: 6px;
  margin: 0 0;
}

/* --------------------------------*/
/* -------------ФИЛЬТР------------*/

.filters-block {
  width: 1000px;
  margin-bottom: 40px;
}

.filter {
  display: inline-block;
  vertical-align: top;
}

.quicksort {
  width: 200px;
}

.price-range {
  width: 230px;
}

.fat-level {
  width: 410px;
  margin-bottom: 20px;
}

.filler {
  width: 710px;
  margin-top: 0px;
}

.button .filter {
  width: 70px;
}

/* --------------------------------*/
/* ------------Слайдер-----------*/

.slider-block {
  outline: 1px solid red;
  position: relative;
}
.slider {
	position: relative;
	padding-top: 274px;
	text-align: center;
	color: #ffffff;
}
.slide {
	display: none;
}
#slide-11 {
  display: block;
}
.text-slide {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 30px;
	line-height: 60px;
	font-weight: 800;
	font-size: 60px;
}

.slide > a {
  font-size: 32px;
  line-height: 44px;
  padding: 12px 40px;
  border-radius: 50px;
  right: auto;
  position: relative;
  width: 280px;
  box-sizing: border-box;
  margin: auto;
  margin-top: 60px;
}

.slider-controls {
	position: absolute;
	bottom: 19px;
	left: 3px;
	z-index: 20;
	font-size: 0;
}
.slider-controls label {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls label:hover {
	background-color: rgba(255,255,255,0.4);
}

#green-1:checked ~ .wrapper #slide-1,
#violet-2:checked ~ .wrapper #slide-2,
#brown-3:checked ~ .wrapper #slide-3 {
	display: block;
}
#green-1:checked ~ .wrapper {
	background-color: #849d8f;
	background-image: url("../img/slider-1.png");
}
#violet-2:checked ~ .wrapper {
	background-color: #8996a6;
	background-image: url("../img/slider-2.png");
}
#brown-3:checked ~ .wrapper {
	background-color: #9d8b84;
	background-image: url("../img/slider-3.png");
}
#green-1:checked ~ .wrapper label[for="green-1"],
#violet-2:checked ~ .wrapper label[for="violet-2"],
#brown-3:checked ~ .wrapper label[for="brown-3"] {
	background-color: #ffffff;
}
.main_slide {
	position: relative;
}

/* --------------------------------*/
/* ----------Хлебные крошки--------*/

.breadcrumbs {
   outline: 1px solid yellow;
   clear: both;
 }

.breadcrumbs ul {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
  font-size: 0;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a {
    display: block;
    padding-right:20px;
    color: #ffffff;
}
/* --------------------------------*/
/* ----------Блок с акциями--------*/
.promos {
  margin-bottom: 35px;
}
.raspberries-promo {
  position: relative;
  float: left;
  width: 520px;
  height: 212px;
  background-image: url("../img/raspberry-background.jpg");
  border-radius: 16px;
  overflow: hidden;

  margin-right: 26px;
  padding-left: 20px;
  padding-top: 17px;
  padding-right: 20px;

  color: white;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.choco-promo {
  position: relative;
  float: right;
  width: 520px;
  height: 212px;
  background-image: url("../img/choco-background.jpg");
  border-radius: 16px;

  color: white;
  padding-left: 20px;
  padding-top: 17px;
  padding-right: 20px;

  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.promo-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.choco-promo p, .raspberries-promo p {
    color: #ffffff;
}
/* --------------------------------*/
/* ----Блок с хитами мороженок----*/
.bestsellers {
  outline: 1px solid red;
  margin-bottom: 40px;
}

.product-item {
  display: inline-block;
  width: 23.4%;
  margin-right: 18px;
  vertical-align: top;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
}

.product-item:nth-child(4n) {
  margin-right: 0px;
}

.product-img-crop {
  overflow: hidden;
  border-radius: 50%;
  width: 266px;
  height: 266px;
  margin-bottom: 10px;
}

.product-item a {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #ffffff;
  margin: 0 0;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  text-align: center;
}

.product-hit::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background: transparent url("../img/Hit-icon.png") no-repeat;
}

.price {
  font-size: 44px;
  line-height: 44px;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 210px;
  left: 10px;
}

.product-img-crop::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -60px;
  background-color: rgba(255,255,255,0.3);
  display: none;
  border-radius: 5px;
}
.glance-look {
  content: "";
  position: absolute;
  right: 15px;
  left: 15px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  bottom: -35px;
  padding: 12px 12px;
  display: none;
}

.product-item > a:hover{
  color: #e84d37;
  border-bottom: none;
}
.product-item:hover .product-img-crop::before, .product-item:hover .glance-look{
  display: block;
}

/* ------------------------*/

.pages {
  float: right;
  width: 200px;
  margin-bottom: 13px;
}

.about-glacy {
  width: 1106px;
  background-image: url("../img/pattern.jpg");
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 27px;
  border-radius: 16px;
}

.about-glacy > h3 {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: bold;
  padding-bottom: 23px;
  margin: 0 0;
}

.features {
  display: inline-block;
  width: 485px;
  padding-left: 51px;
  margin-right: 18px;
  padding-bottom: 25px;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  vertical-align: top;
}
.features > p {
  margin: 0 0;
}

.features:nth-child(odd) {
  margin-right: 0;
}

.ice::before {
  content: "";
  background: transparent url("../img/Ice-icon.svg") no-repeat;
  display: block;
  position: absolute;
  top: -15px;
  left: 0px;
  width: 50px;
  height: 50px;
}

.cow::before {
  content: "";
  background: transparent url("../img/Cow-icon.svg") no-repeat;
  display: block;
  position: absolute;
  top: -15px;
  left: 0px;
  width: 50px;
  height: 50px;
}

.temp::before {
  content: "";
  background: transparent url("../img/Temp-icon.svg") no-repeat;
  display: block;
  position: absolute;
  top: -15px;
  left: 0px;
  width: 50px;
  height: 50px;
}

.leaf::before {
  content: "";
  background: transparent url("../img/Leaf-icon.svg") no-repeat;
  display: block;
  position: absolute;
  top: -15px;
  left: 0px;
  width: 50px;
  height: 50px;
}

.content {
  margin-bottom: 40px;
}

.blog {
  float: left;
  width: 540px;
  height: 194px;
  background-image: url("../img/News-back.jpg");
  margin-right: 26px;
  padding-top: 25px;
  padding-left: 20px;
  border-radius: 16px;
}

.blog-title {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  margin: 0 0;
}

.blog a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: bold;
}

.mailing {
  float: right;
  width: 510px;
  height: 185px;
  background-image: url("../img/email-back.jpg");
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 20px;
  border-radius: 16px;
  position: relative;
}

.map {
  width: 1200px;
  height: 430px;
  background-image: url("../img/map.jpg");
  margin-left: -27px;
  position: relative;
}

.adress-container {
  position: absolute;
  top: 60px;
  right: 27px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  padding-top: 32px;
  padding-left: 25px;
  padding-right: 25px;
  width: 275px;
  height: 273px;
  float: right;
  background-color: white;
  border-radius: 16px;
}

.adress-container p {
  margin-bottom: 5px;
}

.adress-container .btn {
  width: 230px;
  right: auto;
}

.adress {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.phone-number {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}
.time {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  margin-bottom: 5px;
}

.main-footer {
  height: 70px;
  width: 1146px;
  margin: auto;
  margin-top: 35px;
  outline: 1px solid red;
}

.footer-social {
  float: left;
  width: 260px;
  margin-bottom: 26px;
  margin-right: 100px;
  outline: 1px solid green;
}

.social-btn {
  padding-right: 10px;
}

.usefull-links {
    float: left;
    width: 470px;
    vertical-align: top;
    outline: 1px solid yellow;
}

.link {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  padding-left: 19px;
}

.link a {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
}

.heart {
  position: relative;
}

.heart::before {
  content: "";
  display: block;
  height: 15px;
  width: 18px;
  position: absolute;
  top: 5px;
  left: 0;
  background: transparent url("../img/heart-icon.svg") no-repeat;
}

.footer-copyright {
  float: right;
  width: 205px;
  margin-top: -20px;
  outline: 1px solid blue;
}

.footer-copyright p, .footer-copyright a {
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
}
